.option {
	display: flex;
	gap: 30px;
	&__favorite {
		display: flex;
		align-items: flex-end;
		white-space: nowrap;
		font-size: 18px;
		font-weight: 400;
		color: $colorGrey;
		background: none;
		cursor: pointer;
		&::before {
			width: 23px;
			height: 23px;
			margin-right: 8px;
		}
		&_in {
			&::before {
				content: url(../assets/icons/favorite_in.svg);
			}
		}
		&_out {
			&::before {
				content: url(../assets/icons/favorite_out.svg);
			}
		}

	}
	&__answer {
		display: flex;
		align-items: flex-end;
		font-size: 18px;
		font-weight: 400;
		color: $colorGrey;
		background: none;
		cursor: pointer;
		&::before {
			content: url(../assets/icons/answer.svg);
			width: 22px;
			height: 22px;
			margin-right: 8px;
		}
	}
	@media (max-width: $sizeMobile) {
		gap: 15px;
		&__favorite {
			font-size: 16px;
		}
		&__answer {
			font-size: 16px;
		}
		&__rating {
			margin-top: 5px;
		}
	}
}

.rating {
	display: flex;
	gap: 10px;
	&__currentNumber {
		font-size: 18px;
		font-weight: 500;
	}
	&__increment, &__decrement {
		background-color: transparent;
		cursor: pointer;
		&::before {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: $colorGreySecondary;
		}
	}
	&__increment {
		&::before {
			content: url(../assets/icons/plus.svg);
		}
	}
	&__decrement {
		&::before {
			content: url(../assets/icons/minus.svg);
		}
	}
	@media (max-width: $sizeMobile) {
		flex-direction: column;
		align-items: center;
		gap: 0;
	}
}