@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter-VariableFont.ttf);
}

@import '_variables';
@import '_general';
@import '_stubBlocks';
@import '_comments';
@import '_mainOptions';
@import '_commentsOptions';
@import '_formBox';

.show{
    display: flex;
}
.hidden {
    display: none;
}
